/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
  display: grid;
  justify-content: center;
  gap: 98px;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: sans-serif;
  font-weight: 410;
  font-size: var(--font-size-main);
  background-image: var(--gradient-horizontal), var(--gradient-vertical), var(--gradient-transition);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

@supports (font-variation-settings: "wght" var(--font-weight-main-text)) {
  .page {
    font-family: var(--font-main), sans-serif;
    font-variation-settings: var(--font-weight-main-text);
  }
}

.header {
  display: grid;
  justify-content: center;
  gap: 19px;
  border: 2px solid #000;
  padding: var(--padding-header-clamp-top-bottom) var(--padding-header-clamp-left-right);
  font-family: var(--font-decorative), fantasy, sans-serif;
  letter-spacing: 0;
  text-transform: uppercase;
  background-color: white;
  inline-size: clamp(20.833rem, 14.476rem + 30.516vw, 38.889rem);
}

.header__label {
  font-size: clamp(2.722rem, 2.409rem + 1.502vw, 3.611rem);
  line-height: 100%;
}

.header__main-title {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: clamp(0.778rem, 0.602rem + 0.845vw, 1.278rem);
  line-height: 100%;
  letter-spacing: 0;
}

.main {
  display: grid;
  justify-content: center;
  gap: 50px;
}

.article {
  position: relative;
  border: 2px solid #000;
  padding-bottom: 25px;
  background-color: white;
  inline-size: clamp(20.833rem, 14.476rem + 30.516vw, 38.889rem);
}

.article__card-title {
  padding: 4px 10px;
  padding-left: 10px;
  font-weight: 700;
  font-size: var(--font-size-main);
}

@supports ((font-variation-settings: "wght" 715) or (-webkit-font-variation-settings: "wght" 715)) {
  .article__card-title {
    font-variation-settings: "wght" 715;
    -webkit-font-variation-settings: "wght" 715;
  }
}

.article__img-label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 50%;
  font-family: var(--font-decorative), fantasy, sans-serif;
  font-weight: 400;
  font-size: var(--font-size-min);
  text-transform: uppercase;
  text-shadow:
  -2px 0 #fff,
  0 2px #fff,
  2px 0 #fff,
  0 -2px #fff;
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .article__img-label {
    z-index: 1;
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

.article__container-img {
  position: relative;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  overflow: hidden;
  inline-size: 100%;
  block-size: clamp(20.8333rem, 14.4757rem + 30.5164vw, 38.8889rem);
  max-block-size: 700px;
}

.article__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.article__article {
  display: grid;
  gap: 25px;
  margin: 25px;
  line-height: 1.1667rem;
  letter-spacing: 0;
}

.like-icon {
  flex-shrink: 0;
}

.core {
  transition: fill linear 0.3s 0.03s;
}

.contour {
  transition: fill linear 0.1s;
}

.main-body {
  transition: fill linear 0.3s;
}

.sparks {
  opacity: 0;
}

.card__icon-button {
  position: relative;
  box-sizing: border-box;
  width: fit-content;
  height: 100%;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.like-icon:hover .core {
  fill: #000;
  transition: fill linear 0.3s 0s;
}

.like-icon:hover .main-body {
  fill: #000;
  transition: fill linear 0.3s 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scaleHeart 0.3s ease-in 0.1s 1 forwards;
}

.like-icon.is-liked .sparks {
  animation: opacitySparks 0.3s ease-in 0.3s 1 forwards;
}

.card__like-buttons {
  position: relative;
  display: flex;
  justify-content: end;
  gap: 4px;
  padding-right: 25px;
  block-size: 38px;
}

.button {
  position: relative;
  justify-content: center;
  border: 2px solid #fff;
  overflow: hidden;
  font-family: var(--font-decorative), fantasy, sans-serif;
  font-size: var(--font-size-min);
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  inline-size: 130px;
  block-size: 38px;
  mix-blend-mode: difference;
}

.main__save-button {
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-self: center;
  align-items: baseline;
  align-content: center;
  gap: 8px;
  border-color: #000;
  padding-top: 17px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px;
  background-color: #fff;
  inline-size: clamp(17rem, 16.433rem + 2.723vw, 18.611rem);
  block-size: clamp(3.0556rem, 5.234rem + -2.723vw, 4.6667rem);
}

button:hover {
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%;
  background-color: #fff;
  transition: width 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.button:hover::before {
  width: 100%; /* При наведении — полная ширина */
}

button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px #fff;
}

button:focus-visible {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: #000;
}

.svg-floppy-save {
  width: var(--size-floppy-save);
  height: var(--size-floppy-save);
}

.button__text {
  display: flex;
  align-self: center;
  line-height: 90%;
  text-wrap: nowrap;
  white-space: nowrap;
}

.button__text,
.svg-floppy-save {
  z-index: 2;
  color: #fff;
  mix-blend-mode: difference;
}

.dialog__text {
  grid-column: 2/3;
  grid-row: 1;
  align-self: center;
  font-family: var(--font-decorative), fantasy, sans-serif;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog {
  display: none;
}

.dialog[open] {
  position: fixed;
  top: 50%;
  left: 50%;
  display: grid;
  gap: 30px;
  margin: 0;
  border: 2px solid #000;
  padding: 28px;
  font-size: 14px;
  transform: translate(-50%, -50%);
  inline-size: clamp(18.9444rem, 18.7488rem + 0.939vw, 19.5rem);
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.svg-floppy-to-continue {
  align-self: center;
  width: var(--size-floppy-continue);
  height: var(--size-floppy-continue);
}

.dialog__icon-text-wrapper {
  display: grid;
  align-content: center;
  gap: 20px;
}

.dialog__button__text {
  text-transform: uppercase;
}

.dialog__button {
  display: flex;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  background-color: transparent;
  inline-size: 100%;
  mix-blend-mode: difference;
}

.filter-grayscale-contrast {
  filter: grayscale(0.5) contrast(1.1);
}

.filter-grayscale {
  filter: grayscale(0.6);
}

.filter-saturate {
  filter: saturate(2);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.filter-invert {
  filter: invert(100%);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-contrast {
  filter: contrast(1.1);
}

.filter-multiply {
  filter: hue-rotate(90deg) contrast(60%) brightness(1.1) blur(3px);
}

@media (width <= 375px) {
  .dialog[open] {
    padding: 28px 38px;
  }
}

@media (width < 1440px) {
  .main__save-button {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}